In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk1-task2-corals.ipynb")

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

https://github.com/tommats00/eds220-hwk1

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.

<!-- BEGIN QUESTION -->


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

This data set talks about coral diversity in the Western Indian Ocean. The data was collected around Madagascar including parts of Tanzania, Kenya, Port Louis, and Mozambique. The main taxa of corals observed were scleractinian corals, but hydrozoa Millepora were also observed. This study began in 1999 and ended in 2022.   

Citation: Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.

Date of Access: 10/08/2024

link: https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# Read in data
coral_div = pd.read_csv('the URL goes here')
```

In [2]:
...
import pandas as pd

coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

<!-- END QUESTION -->

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

In [3]:
# a
rows = coral_div.shape[0]
columns =coral_div.shape[1]

b. What are the column names? Store your answer in the `coral_div_columns` variable.

In [4]:
# b
coral_div_columns = coral_div.columns

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

In [5]:
# c
coral_div_types = coral_div.dtypes

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

In [6]:
# d
first_8_rows = coral_div.head(8)

In [7]:
# View the dataframe 
first_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,...,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,...,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

<!-- BEGIN QUESTION -->

e. some other inital information you are interested in.

In [8]:
# e
# Inspecting how many nulls there are for each variable
coral_div.isnull().sum()

PU_ID                   0
PU_Lat                  0
PU_Lon                  0
Number_of_genera        0
Country                 0
Ecoregion               0
Management              0
Habitat                45
Observer                0
Depth                   0
Coralcover              0
SSTRateofRise           0
PARmax                  0
Calcite                 0
Dis_oxygen              0
mean.waveNRJ            0
Salinity_mean           0
andrello_reef_value     0
andrello_nutrients      0
mean.npp                0
TT_market_hrs           0
TT_pop_hrs              0
cumDHW                  0
SST_Kurtosis            0
SST_Median              0
ChlorA_median           0
andrello_sediments      0
Current_vel_mean        8
Diff_attenuation        0
Grav_NP                 0
Grav_NC                 0
PH                      0
SST_bimodality          0
SST_Skewness            0
ClimateStressModel      0
Netflow                 0
Indegree                0
Outdegree               0
Retention               0
min_yr                  0
max_yr                  0
no_replicates           0
dtype: int64

<!-- END QUESTdescribe->

<!-- BEGIN QUESTION -->

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

- `int64` is a discrete numerical variable
- `float64` is a continious numerical variable

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

`coral_div['Country']` prints out a head and tail of just the 'Country' column

`print(coral_div['Country'].unique())` gives you each possible output within the cell. Therefore, it gives you every 'Country' within the dataframe.

<!-- END QUESTION -->

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [9]:
# From the metadata file, there were 16 observers.

unique_observers = coral_div['Observer'].unique()
unique_observers

array(['Tim', 'Nyawira', 'Ussi', 'Muhando', 'Carlos', 'Emily', 'Mireille',
       'Arielle', "D'Agata", 'Julien', 'Mebrahtu', 'Sink', 'Vikash',
       'Natalie', 'Maria', 'Porter'], dtype=object)

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

<!-- BEGIN QUESTION -->

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

This code is outputting a series of boolean outputs. It is looking at the column 'Coralcover' and asking if it is greater than or equal to 50. If it is, it becomes 'True', otherwise it is 'False'.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

This code chunk is returning the rows that have variable 'Coralcover' greater than or equal to 50.

<!-- END QUESTION -->

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

In [10]:
coral_cover = coral_div[(coral_div['Country'] == 'Tanzania') & (coral_div['Coralcover'] == 30)]

In [11]:
# View the dataframe
coral_cover

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,...,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,...,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,...,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,...,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,...,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,...,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,...,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

In [12]:
filtered_data = coral_div[['PH', 'Salinity_mean', 'Depth']]

In [13]:
# View the dataframe
filtered_data

         PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable.

In [14]:
sampling_2017 = coral_div.loc[coral_div['max_yr'] == 2017, ['PH', 'Salinity_mean', 'Depth']]

In [15]:
# View the dataframe 
sampling_2017

         PH  Salinity_mean      Depth
67   8.2150      35.100085  16.000000
68   8.2145      35.144927  10.000000
70   8.2150      35.101086  11.000000
71   8.2150      35.101086  11.000000
72   8.2150      35.101086   9.000000
73   8.2150      35.101086   9.000000
84   8.2110      35.278084  12.500000
85   8.2110      35.278084   6.000000
164  8.2220      35.337914   9.875000
167  8.2220      35.337914  12.075000
169  8.2220      35.337914  10.300000
172  8.2220      35.337914  11.000000
174  8.2225      35.287419   7.266667
176  8.2225      35.287419  13.225000
179  8.2225      35.287419  10.550000
182  8.2220      35.331669  12.033333
185  8.2230      35.374460  10.900000
188  8.2230      35.374460  14.725000
191  8.2230      35.247482   9.725000
194  8.2230      35.341358  11.075000
197  8.2230      35.390354  10.600000
346  8.2165      35.114244   7.000000
347  8.2165      35.112398   3.000000
348  8.2165      35.112398   4.000000
349  8.2160      35.117374   5.500000
350  8.2160      35.117374   2.000000
351  8.2160      35.117374  15.000000
352  8.2160      35.117374   5.000000
353  8.2165      35.149462  11.000000
354  8.2160      35.270199   9.000000
395  8.2400      35.276642   9.416667
559  8.2120      35.204185   1.500000
566  8.2400      35.301208  17.000000
569  8.2400      35.301208  13.833333
574  8.2400      35.301208  13.470000

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Make sure you are indexing from 0.

In [16]:
subset = coral_div.iloc[95:101, [16, 19, 27]]

In [17]:
# View the dataframe
subset

     Salinity_mean     mean.npp  Current_vel_mean
95       35.201630  1365.146729          0.878417
96       35.204185  1117.635010          0.839372
97       35.234774  1105.270142          0.685955
98       35.234774  1105.270142          0.685955
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN

<!-- BEGIN QUESTION -->

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

This code chunk takes the `subset` dataframe and outputs a boolean. It will return True if there is an NA values, and False if there is not.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

The `.any()` in this code chunk takes the `.isna()` method and returns a true or false if the requirements ANY of the requirements are meant. It will return `True` if there are ANY NA values or `False` if there are none.

<!-- END QUESTION -->

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

In [18]:
subset_na = subset['Current_vel_mean'].isna()

In [19]:
# View the dataframe 
subset_na

95     False
96     False
97     False
98     False
99      True
100     True
Name: Current_vel_mean, dtype: bool